.hero {
  position: flex;
  margin: auto;

  height: 20rem;
  width: 100%;

  background: var(--bg);
}

.heroContent {
  color: red;
  margin: auto;

  height: 100%;
  max-width: 1440px;
  border-radius: 1rem;

  background: white;
}
