.navBar {
  height: 10rem;
  width: 100%;

  background: var(--bg);
  outline: 1px solid black;
}

.navBarContent {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;
  max-width: 1440px;
  margin: auto;
  /* outline: 1px solid red; */
}

.navHeader {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navLogo {
  width: 100px;
  height: 100px;
}

.navHam {
  display: none;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navItem {
  position: relative;

  padding: var(--spacing-4) var(--spacing-6);

  border-radius: 10rem;
  color: var(--gray-400);

  background: white;
  box-shadow: var(--shadow-s);

  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;
  transition: 0.2s ease;
}

.navItem:hover {
  color: var(--gray-900);
}

.navItem::after {
  position: absolute;
  content: "";

  width: 1rem;
  height: 1rem;
  border-radius: 100%;

  top: 50%;
  left: 0;

  background: red;

  opacity: 0;
  scale: 0.2;
  transform: translate(-50%, -50%);
  transition: 1s ease;
}

.navItem:hover::after {
  opacity: 1;
  scale: 1;
}
