.navBar {
  height: 10rem;
  width: 100%;

  background: var(--bg);
  outline: 1px solid black;
}

.navBarContent {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;
  max-width: 1440px;
  margin: auto;
  /* outline: 1px solid red; */
}

.navHeader {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navLogo {
  width: 100px;
  height: 100px;
}

.navHam {
  display: none;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navItem {
  position: relative;

  color: var(--gray-400);

  font-size: 1.3rem;
  font-weight: 500;

  cursor: pointer;
  transition: 0.2s ease;

  /* outline: 1px solid red; */
}

.navItem:hover {
  color: var(--gray-900);

  font-weight: 900;
}

.navItem::after {
  position: absolute;
  content: "";

  width: 1rem;
  height: 1rem;
  border-radius: 100%;

  top: 50%;
  left: 0;

  background: var(--indigo-500);

  transform: translate(-150%, -50%) scale(0);
  transition: 0.2s ease;
}

.navItem:hover::after {
  transform: translate(-150%, -50%) scale(1);
}
