.navBar {
  height: 10rem;
  width: 100%;

  /* outline: 1px solid oklch(37.15% 0.00004 271.152); */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;
  max-width: 1440px;
  margin: auto;
  /* outline: 1px solid red; */
}

.navHeader {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navLogo {
  width: 100px;
  height: 100px;
}

.navHam {
  display: none;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navItem {
  padding: var(--spacing-4) var(--spacing-6);

  border-radius: 10rem;
  color: var(--text);

  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;
  transition: 0.2s ease;
}

.navItem:hover {
  background: var(--bg-light);
  box-shadow: var(--shadow-l);
}
