.navBar {
  height: 10rem;
  width: 100%;

  background: var(--bg);
  outline: 1px solid black;
}

.navBarContent {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;
  max-width: 1440px;
  margin: auto;
  /* outline: 1px solid red; */
}

.navHeader {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navLogo {
  width: 100px;
  height: 100px;
}

.navHam {
  display: none;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navItem {
  position: relative;

  padding: var(--spacing-4) var(--spacing-6);

  border-radius: 10rem;
  color: var(--text);

  background: white;
  box-shadow: var(--shadow-s);

  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;
  transition: 0.2s ease;
}

.navItem::after {
  position: absolute;
  inset: 0;

  background: linear-gradient(90deg, var(--sky-300), var(--purple-400));
  border-radius: 10rem;

  opacity: 0;
  content: "";

  transition: 0.4s ease;
}

.navItem:hover {
  background: linear-gradient(90deg, var(--sky-300), var(--purple-400));
  box-shadow: var(--shadow-l);

  color: var(--gray-50);
  font-weight: 900;
}

.navItem::after:hover {
  opacity: 1;
}
