:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: oklch(0.65 0.15 264);
  --bg-dark: oklch(0.92 0 264);
  --bg: oklch(0.96 0 264);
  --bg-light: oklch(1 0 264);

  /* text-colors */
  --text: oklch(0.15 0 264);
  --text-muted: oklch(0.4 0 264);
  /* shadows */
  --shadow-s:
    inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m:
    inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l:
    inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */

  /* spacing */
  --spacing-1: 0.25rem; /* 4 */
  --spacing-2: 0.5rem; /* 8 */
  --spacing-3: 0.75rem; /* 12 */
  --spacing-4: 1rem; /* 16 */
  --spacing-5: 1.25rem; /* 20 */
  --spacing-6: 1.5rem; /* 24 */
  --spacing-7: 1.75rem; /* 28 */
  --spacing-8: 2rem; /* 32 */
  --spacing-9: 2rem; /* 36 */
  --spacing-10: 2.5rem; /* 40 */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
  text-wrap: ballance;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
