.homeSection {
  width: 100%;
  height: 50rem;
  font-size: 3rem;

  padding: var(--spacing-8);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  height: 100%;
  max-width: 1440px;

  background: var(--bg);

  border-radius: var(--spacing-8);
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;

  font-size: 3rem;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;

  font-size: 3rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;

  font-size: 3rem;
}

.contract {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;

  font-size: 3rem;
}
