.hero {
  position: flex;
  margin: auto;
  padding: 2rem 0;

  height: calc(100vh - 5rem);
  width: 100%;

  background: var(--bg-dark);
}

.heroContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  padding: 2rem;

  height: 100%;
  max-width: 90rem;
  border-radius: 1rem;
}

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10rem;
  width: 10rem;
  border-radius: 1rem;

  background: var(--bg);
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .hero {
    height: calc(100vh - 7rem);
  }
}
