.hero {
  position: flex;
  margin: auto;
  padding: var(--spacing-8) 0;

  height: 40rem;
  width: 100%;

  background: var(--bg-dark);
}

.heroContent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  margin: auto;
  padding: 2rem;

  height: 100%;
  max-width: 90rem;
  border-radius: 1rem;
}

.heroText h1 {
  font-size: 2rem;
}

.heroImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--image-circle-s);
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: var(--bg);
}

.heroSkill {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--skill-circle-s);
  aspect-ratio: 1/1;
  border-radius: 100%;

  background: var(--bg);
  box-shadow: var(--shadow-s);

  scale: 0;

  cursor: pointer;
}

.heroSkill p {
  color: red;
}

.heroSvgPath {
  position: absolute;
  fill: none;
}

@media (min-width: 768px) {
  .hero {
    height: 50rem;
  }

  .heroImage {
    height: var(--image-circle-m);
  }

  .heroSkill {
    height: var(--skill-circle-m);
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 60rem;
  }

  .heroContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
  }

  .heroImage {
    height: var(--image-circle-l);
  }

  .heroSkill {
    height: var(--skill-circle-l);
  }
}

:root {
  --image-circle-s: 15rem;
  --image-circle-m: 20rem;
  --image-circle-l: 30rem;

  --skill-circle-s: 5rem;
  --skill-circle-m: 7rem;
  --skill-circle-l: 7rem;
}
