.navBar {
  position: sticky;
  top: 0;

  width: 100%;
  background: var(--bg-glass);
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-s);

  z-index: 999999;
}

.navBarContent {
  position: relative;
  display: grid;
  max-width: 90rem;
  margin: auto;

  padding: 1rem;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  display: grid;
  height: 3rem;
  aspect-ratio: 1/1;
  z-index: 1;
}

.navLogo svg {
  height: 100%;
  color: var(--text);
}

.navHam {
  display: grid;
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 100%;

  background: var(--bg-light);
  box-shadow: var(--shadow-s);

  z-index: 1;
}

.navHam svg {
  grid-area: 1/1;
  margin: auto;
  height: 60%;
  color: var(--text);
}

.navLinks {
  position: fixed;
  top: -1vh;
  left: -15rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 10rem;

  width: 15rem;
  height: 101vh;

  background: var(--bg);
  box-shadow: var(--shadow-l);

  list-style: none;
}

.navBackground {
  position: absolute;

  width: 100vw;
  height: 100vh;
  background: oklch(0.05 0 251 / 0.8);

  opacity: 0;

  pointer-events: none;
}

.navItem {
  padding-left: 1.5rem;
  opacity: 0;
}

@media (min-width: 768px) {
  .navLinks {
  }
}

@media (min-width: 1024px) {
  .navBarContent {
    display: flex;
    justify-content: space-between;
  }

  .navLogo {
    height: 5rem;
  }

  .navHam {
    display: none;
  }

  .navLinks {
    position: static;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;

    height: auto;
    width: 40rem;

    background: none;
    box-shadow: none;
  }

  .navBackground {
    display: none;
  }

  .navItem {
    position: relative;

    padding: 0;

    color: var(--text-muted);

    font-size: 1.3rem;
    font-weight: 500;

    cursor: pointer;
    transition: 0.2s ease;

    opacity: 1;
  }

  .navItem::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;

    width: 1rem;
    height: 1rem;
    border-radius: 100%;

    background: var(--primary);

    transform: translate(-150%, -50%) scale(0);
    transition: 0.2s ease;
  }

  .navItem:hover::after {
    transform: translate(-150%, -50%) scale(1);
  }
}

@media (max-width: 1023px) {
}
