.navBar {
  width: 100%;
  background: var(--bg);
}

.navBarContent {
  display: grid;
  grid-template-columns: 1fr;

  position: relative;
  max-width: 90rem;
  margin: auto;

  padding: 1rem;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  height: 3rem;
  aspect-ratio: 1/1;
  outline: 1px solid red;
  color: var(--text);
}

.navHam {
  height: 100%;
  aspect-ratio: 1/1;

  background: red;
  outline: 1px solid red;
}

.navLinks {
  position: absolute;
  top: 100%;

  display: grid;
  list-style-type: none;
}
/* .navLinks {
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navItem {
  position: relative;

  color: var(--text-muted);

  font-size: 1.3rem;
  font-weight: 500;

  cursor: pointer;
  transition: 0.2s ease;
}

.navItem:hover {
  color: var(--text);

  font-weight: 900;
}

.navItem::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;

  width: 1rem;
  height: 1rem;
  border-radius: 100%;

  background: var(--primary);

  transform: translate(-150%, -50%) scale(0);
  transition: 0.2s ease;
}

.navItem:hover::after {
  transform: translate(-150%, -50%) scale(1);
} */

@media (min-width: 768px) {
  .navBar {
  }

  .navLogo {
  }
}

@media (min-width: 1024px) {
  .navBar {
  }

  .navBarContent {
    display: flex;
    justify-content: space-between;
  }

  .navLogo {
    height: 5rem;
  }

  .navHam {
    display: none;
  }

  .navLinks {
    display: flex;
    width: 40rem;
  }
}

@media (max-width: 1024px) {
  .menuOn {
  }

  .menuOff {
    display: none;
  }
}
