.gallery {
  margin: auto;
  padding: 0 0 var(--spacing-8) 0;
}

.sectionContent {
  display: grid;
  gap: var(--spacing-4);

  margin: auto;
  padding: 0 var(--spacing-6);

  max-width: 90rem;
}

.sectionTitle h1 {
  font-size: var(--text-size-7);
  font-weight: bold;

  color: var(--text);
}

.sectionTitle p {
  font-size: var(--text-size-5);
  font-weight: 300;

  color: var(--text);

  margin-bottom: var(--spacing-6);
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .sectionTitle h1 {
    font-size: var(--text-size-9);
  }
  .sectionTitle h2 {
    font-size: var(--text-size-6);
  }
}
